body {
  margin-left: 40px;
  font-size: 11pt;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #EFEFEF;
  border: 1px solid #DDDDDD;
}

button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.message {
  width: 300px;
  padding: 10px;
  border: 2px dotted #DDDDDD;
  margin-bottom: 25px;
  background-color: #EFEFEF;
  color: red;
}
